---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/m.astro';
import About from '../components/sobre.astro';
import Habilidades from '../components/Habilidades.astro'; // Importe o novo componente
import SkillsCarousel from '../components/SkillsCarousel.astro'; // Importe o novo componente do carrossel
import Projetos from '../components/Projetos.astro'; // Importe o componente de projetos
import Certificacao from '../components/Certificacao.astro'; // Importe o novo componente
import Footer from '../components/Footer.astro';
---


<Layout title="Murilo Mognon - Portfólio">
    <main>
        <Hero />
        <About />
         <Projetos /> 

        <SkillsCarousel /> 
         <Certificacao />
         <slot />
         <Footer />
    </main>
</Layout>

<style>
    /* Estilos globais para as seções */
    .section-container {
        padding: 4rem 2rem;
        background-color: #161b22;
        color: #c9d1d9;
        text-align: center;
    }

    .section-container:nth-child(even) {
        background-color: #0d1117;
    }

    .section-container h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        color: #58a6ff;
    }

    .skills-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .skills-list li {
        background-color: #21262d;
        padding: 0.8rem 1.5rem;
        border-radius: 5px;
        font-weight: bold;
    }
</style>